* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background: linear-gradient(135deg, #0f2027, #172a33);
}

.heading {
    margin-top: 5rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
